<html>
	<body>
		<form>
		<center>
			<h1>Driver availability</h1>
		
		  <table style="border:1px solid black;border-collapse:collapse;">
		  	<tr >
		  		<td style="border:1px solid black;">Driver</td>
		  		<td style="border:1px solid black;">Customer</td>
		  		<td style="border:1px solid black;">Status</td>
		  	</tr>
		  	<tr style="border:1px solid black;">
		  		<td style="border:1px solid black;">D1</td>
		  		<td style="border:1px solid black;">C1</td>
		  		<td style="border:1px solid black;">BUSY</td>
		  	</tr>
		  	<tr style="border:1px solid black;">
		  		<td style="border:1px solid black;">D2</td>
		  		<td style="border:1px solid black;">C2</td>
		  		<td style="border:1px solid black;">BUSY</td>
		  	</tr>
		  	<tr style="border:1px solid black;">
		  		<td style="border:1px solid black;">D3</td>
		  		<td style="border:1px solid black;"></td>
		  		<td style="border:1px solid black;">AVAILABLE</td>
		  	</tr>
		  	<tr style="border:1px solid black;">
		  		<td style="border:1px solid black;">D4</td>
		  		<td style="border:1px solid black;">C4</td>
		  		<td style="border:1px solid black;">BUSY</td>
		  	</tr>
		  	<tr style="border:1px solid black;">
		  		<td style="border:1px solid black;">D5</td>
		  		<td style="border:1px solid black;"></td>
		  		<td style="border:1px solid black;">AVAILABLE</td>
		  	</tr>
		  </table>
		  </center>
		</form>

	</body>
</html>
